section#main_screen
	include header
	#main
		img#sheila_before(src="img/sheila_before.png", alt="Красивый туман")
		.container
			img#sheila_main(src="img/sheila_main.png", alt="Шейла Маркина")
			p#pre Бесплатный 5-ти дневный интенсив
			h1 Осознанность - пробуждение  от спячки. Привлечем деньги, отношения и жизненную энергию 
				span за 5 дней!
			.aut_n_date
				p Автор: 
					span Шейла Маркина
				p Даты: 
					span 16-20 апреля, 19:00 мск
			.video_wrapper
				iframe(src="https://www.youtube.com/embed/zoRZGN3PcsA?rel=0&autoplay=0", allowfullscreen)