mixin day(src,h4, span,...items)
    .day_wrap
        img.day_img(src= src, alt= h4)
        h4= h4
            span= span
        ul.plan_list
            each item in items
                li= item


#plan
    h3 Программа интенсива
    #plan_container
        +day('img/day_1.png','День 1 ','- Деньги и изобилие', 'ТЕСТ на определение вашего «личного архетипа» в отношениях с деньгами. Кто вы в отношениях с деньгами?','Узнаете 3 основных типа отношения с деньгами', 'Ваши сильные стороны и слабые стороны как 1-ого архетипа \ 2-ого архетипа\3-его архетипа', 'Корректировка вашей программы изобилия','Домашнее задание')
        +day('img/day_2.png','День 2 ','- Я в потоке', 'Что такое состояние потока и как в него войти, чтобы получать удовольствие и хорошие результаты в жизни','Онлайн мощная практика - Инициация потока','Собственная ценность, личные границы и достоинство - Почему их нет и как их вернуть себе','Домашнее задание')
        +day('img/day_3.png','День 3 ','- Мужчины в моей жизни', 'Почему я как ломовая лошадь, а мужчина не мужественный','Несогласованность внутри нас - его последствия','Тройственная модель ума и как она влияет на все в жизни','Ваш шлагбаум потока изобилия','Домашнее задание')
        +day('img/day_4.png','День 4 ','- Оружие женщины - ее 4 состояния','Кто мои идеальный мужчина. Как определится и выбирать?','Алгоритм - как строить гармоничные отношения','4 состояния женщины','Алгоритм - как и из какого состояния привлекать мужчину, из какого удерживать, из какого вдохновлять и из какого получать','Домашнее задание')
        +day('img/day_5.png','День 5 ','- Самосаботаж', 'Что такое вторичные выгоды','Почему нет мужчин, денег, успеха, здоровье и счастье','Что такое самосаботаж. Как мы саботируем свое счастье? Последствия','Как их определять и исцелять их?','Домашнее задание')
    button.button(data-toggle="modal" data-target="#myModalForm") Записаться