mixin reason(num, p_1, p_2)
    .col-md-4.col-sm-4.reason_container
        .one_reason
            .reason_head
            .reason_body
                .reason_number
                    span= num
                p= p_1
                img.reasons_divider(src="img/pink_disc.jpg", alt="Разделитель")
                p= p_2
            
#reasons
    h3 9 причин прийти на интенсив
    .row.reasons_container
        +reason('1','У вас идет постоянный слива денег, живете от зарплаты до зарплаты, погрязли в долгах','Проведете полный разбор архетипов денег и определите Ваш личный. Получите мощные методы корректировки Ваших денежных программ')
        +reason('2','Живете не в потоке ( любви, энергии, изобилия, счастья, удачи, спокойствия). Энергии не хватает ни на что','Пройдете целебную инициацию жизненного потока и получите конкретные инструменты и советы по накапливанию энергии. Увеличите энергии и войдете в поток')
        +reason('3','Устали все сама да сама, как мужик, а мужчины не мужественные, не приносят денег, не берут ответственность?','Увидите обратную сторону и осознаете причины и те выгоды, которые это вам дает. Узнаете как вы привлекли такого мужчину -  какое Ваше состояние его притянуло')
        +reason('4','У вас много страхов - страх одиночества, страх за детей, страх потерять работу, страх общества, страх мнения других, страх остаться без денег, страх проявить себя, страх сексуальности, мужчин...','Поймете в чем корни ваших страхов и тем самым обезоружите их – это абсолютно новый подход, не имеющий аналогов. Вы будете не «бороться» со страхами, а научитесь понимать и растворять их')
        +reason('5','Не складываются отношения с мужчинами или вообще не можете с ними познакомиться. Понимаете, что не можете найти вторую половинку и свой внутренний баланс. Не ладятся взаимоотношения с родными и близкими?','Узнаете конкретные причины и блокировки. Изучите 4 состояние женщины и конкретная последовательность их применение по отношение к мужчинам. Узнаете как стать магнитом который привлечет только правильных мужчин быстро')
        +reason('6','Накопилась негативная энергия и агрессия? Надоели постоянные разочарования, чувствуете неуверенность и неудовлетворенность своей жизнью?','Вы осознаете, где источник всех ваших проблем, обретете уверенность, финансовую независимость, преодолеете трудности на своем пути, получите мощный заряд жизненной энергии и потенциала, поймете, как привлечь достойного мужчину в свою жизнь')
        +reason('7','Находитесь в позиций «жертвы» и привлекаете тиранов ( в семье, в отношениях и на работе)?','Узнаете почему нам выгодно быть «Жертвой», и как перестать ею быть')
        +reason('8','Почему у некоторых есть все - деньги, здоровье, дом, семья, дети - а у меня нечего. Что или кто блокирует это?','Узнаете причины - вторичные выгоды и свой самосаботаж. Узнаете как их исцелить')
        +reason('9','Отсутствуют полноценные личные границы. Их часто нарушают','Проработаете личные границы. Узнаете почему их нет и как их нарастить')
    blockquote.bq «Я работаю в сферах личностного роста, бизнеса, изобилия, карьеры, семейных взаимоотношений, отношений между детьми и родителями. Эксперт по исцелению травм (детских, перинатальных, родовых и унаследованных), работаю с кармическими слоями и теми причинными воплощениями, которые мешают раскрывать таланты и жить в изобилии и гармонии — именно там и находится причина сегодняшних проблем. Моя роль — помочь человеку найти этот узел и распутать его»
    cite.cite Шейла Маркина
    button.button Записаться