#responses
    .container
        h3 Отзывы учеников
        .owl-carousel.owl-theme#text_responses
            .response
                p Тренинг вселенского масштаба. Я никогда не видела таких скорых результатов. Это какая-то новая техника, и я благодарна Шейле за этот опыт. Я стала после работы с Шейлой очень мощной, получила столько знаний. Открылся потенциал певицы. Я скрывала это много лет и даже забыла о нем. А еще у меня появились личные границы и чувство достоинства. Работа с предками – это очень мощная практика, там столько ресурсов, что представить не могла. А перерождение – это то, о чем я много слышала и рискнула сделать его себе у Шейлы. Не жалею. Вы представляете, какая я перерожденная? Другая! Абсолютно другая! Королева!
                h4 Анна Лебедева, 37 лет, Москва