#responses
    .container
        h3 Отзывы и кейсы учеников
        .owl-carousel.owl-theme#text_responses
            .response
                p Ко мне пришла клиентка с запросом об отношениях с мужем. Ее запрос был: «Мы с мужем постоянно ругаемся, он меня бесит, но жить без него не могу. Накопленные обиды на мужа, выливающиеся в агрессию и злость. Мне не хочется возвращаться домой – туда, где меня никто не слышит и не понимает, где любое сказанное мужем слово причиняет только боль».
                p Мы начали цикл сессий, и на первой сессии вышли на субличность ее мамы. Клиентка вспомнила себя в возрасте четырех лет, перед ее глазами – ссора родителей. В этом воспоминании четырехлетняя клиентка принимает решение встать на сторону мамы и поддержать ее в противостоянии с папой.
                p Мы работали дальше, и становилось ясно, что та ссора родителей и принятое решение «защищать» маму привели к тому, что клиентка в уже взрослом возрасте продолжает «защищать» себя от мужчин. Клиентка поняла: всё, что она испытывает к своему мужу, не является ее чувствами и эмоциями. Злость, агрессия, обида – это мамины эмоции, которые мама испытывала в своих отношениях со своим мужем и которые клиентка в своем четырехлетнем возрасте приняла решение взять на себя.
                p Эта история очень явно показывает, как важно понимать, чьи эмоции мы испытываем, свои или родителей.
                p В общей сложности за десять сессий с клиенткой мы проработали десять травм:
                ul
                    li – две собственные травмы из жизни клиентки,
                    li – одну детскую травму ее мамы;
                    li – одну родовую травму, где женщины рода не умели выстраивать отношения с мужчинами, не умели ценить ни себя, ни мужчин, где было много обид и претензий, измен и насилия;
                    li – одну родовую травму, где был страх денег, так как там шла программа «большие деньги равны смерти»;
                    li – две травмы, полученные в утробе матери;
                    li – одну кармическую травму ее души в другом воплощении, которая передалась на нынешнюю жизнь через казуальное тело (причинное тело клиентки);
                    li – одна крупная обида клиентки получила тотальное прощение.
                p Главная цель десяти сессий заключалась в том, чтобы клиентка научилась различать и понимать разницу между своими чувствами и чувствами ее родителей, предков, рода и решениями души в других воплощениях на земле. Клиентка выбрала проживать только свои чувства.
                p Спустя месяц я спросила о том, что изменилось после всех сессий, клиентка рассказала, что отношения с мужем сказочные, как при первой встрече с ним, и, что очень приятно, ее муж открыл свой собственный бизнес и теперь они не только счастливые, но и богатые. Она решила продолжить работу со мной по кармическим расстановкам на стирание постулатов души, которые несет ее душа из травм прошлых воплощений.
                p Так работа над собой меняет не только вас, но и всех вокруг вас.
                p Эта история очень явно показывает, как важно понимать, чьи эмоции мы испытываем, свои или родителей, как важно расстаться с негативными решениями души, которые были приняты нами в других воплощениях и которые теперь мешают нам жить.
                h4 Кейс № 1. Мария, 31 год, Москва
            .response
                p Клиентка Юлия. У нее был жуткий страх перед начальством, вообще всех начальников боялась. Тут же красными становились уши, щеки и все лицо, голос становился тихим, а поза покорной, это при начальстве на работе, начальниках в гос. органах, директорах в школе у детей и в садике и т. д.
                p В результате сессий Юлия вышла на совершенно новый высокий уровень. Теперь Юлия на равных общается со всеми, с любовью и уважением. У Юлии не то что нет больше покраснения на лице и дрожи в голосе, а она совершенно спокойно чувствует себя внутри, и ей даже не знакомы эти чувства, которые она испытывала ранее, не может даже представить их. У Юлии появился потерянный, заблокированный ресурс через несколько слоев рода, и ресурс ее назывался «самодостаточность», который был потерян у нее и у ее мамы, и у бабушки, и у прабабушки…
                p Юлия нашла этот ресурс и начала пользоваться им сразу. Она может сказать легко, очень естественно и уважительно «нет» даже очень влиятельному человеку.
                h4 Кейс № 2. Исцеление одной клиентки
            .response
                p Ко мне пришла клиентка с запросом: «Никак не могу познакомиться с достойным и успешным мужчиной. Все те, которые мне нравятся, – я им не нравлюсь, а те, которые мною интересуются, мне не нравятся: не те. Мне уже 38 лет. Хочу замуж и родить детей. Боюсь остаться одной, старой девой. На простого мужчину я не готова. Мне нужен обеспеченный, красивый, здоровый, хочу найти успешного мужчину и выйти замуж и создать семью, срочно».
                p Исцеление Анны начали с одного месячного модуля из десяти сессий. После первой сессии была ясно видна причина ее проблем: самосаботаж. Анна сама саботировала приход мужчины, но не понимала до сессий, как именно. Она увидела после первой же сессии причину и устранила, а причиной оказался страх, что ее бросят. У нее всё это время работала система безопасности внутри, и найти достойного мужчину было равно опасности. Как только мы начали убирать этот страх, было четко понятно, что это унаследовано от предков.
                p Далекий предок, которого Анна даже не знала, а в сессии всплыла эта информация, получил травму на войне. Будучи ребенком, этот предок потерял свою маму на войне, и страх перед потерей был столь велик, что подсознание того ребенка решило: чтобы выжить, никогда больше не влюбляться и не пускать в свою жизнь любовь, так как это равно боли.
                p Тот эпигенетический шаблон передался Анне. Мы исцелили травму предка – пошли моментальные изменения в жизни Анны. Она нашла свою любовь через три месяца.
                h4 Кейс № 3. Анна, 38 лет, Москва
            .response
                p Ко мне пришла клиентка с запросом: «У меня очень натянутые отношения с дочкой. Я для нее не авторитет. Живем как враги, постоянно ругаемся. Она меня раздражает, хотя я где-то в глубине души ее люблю. Она меня не понимает и не уважает. Что делать? Почему так?»
                p По ходу сессий ничего не менялось, и только на кармической расстановке Наталья увидела кармическую связь с дочкой, увидела, кем они были друг другу в другом совместном воплощении.
                p После расстановки прошло десять дней, и всё волшебно изменилось. Мама и дочь теперь лучшие друзья, идеальные отношения, столько любви и благодарности у них друг к другу. Наталья счастлива и гордится своей дочерью, а дочь уважает, любит маму и гордится ею.
                p Дай бог такой мир каждой семье!!!
                h4 Кейс № 4. Наталья, 40 лет, Подольск
            .response
                p Ко мне пришла клиентка с запросом, связанным со страхом: «У меня жуткий страх перед вождением. Ни НЛП, ни гипнотерапия, ни аффирмация мне не помогли. Это как фобия, жутчайший страх. А я не хочу с этим страхом жить, мне по работе очень важно водить машину. Помогите!»
                p Татьяну я знаю давно, сама она энергопрактик и целитель, но с этим страхом никто не мог ей помочь.
                p Причина крылась во внутриутробном периоде ее развития. По ходу сессии нашли ту травму, именно тот момент, когда было принято решение на клеточном уровне Татьяной. Она была ооцитом в яичниках своей мамы, которая была в утробе у бабушки Татьяны, беременность три месяца.
                h4 Кейс № 5. Татьяна, 30 лет, Москва
            .response
                p 
                    strong Ко мне пришла клиентка с запросом: «У меня очень плохие и натянутые отношения с мамой».
                p По ходу сессий выяснилось, что у Анны не только с мамой натянутые отношения, но и с коллегами, друзьями, соседями и отцом, который не живет с ними.
                p На первой сессии работали с обидой, которая имела корни далеко в роду, где был изнасилован предок. Травма эпигенетически передалась Анне.
                p На второй сессии по перерождению работали с самооценкой.
                p На третьей работали со страхом быть отвергнутой.
                p На четвертой работали с гневом.
                p На пятой, шестой и седьмой работали с неосознанностью.
                p На восьмой работали с ее отношением к миру как к безопасному месту.
                p На девятой сессии, в кармической расстановке, исцелили травму уже не Анны, а ее души.
                p И на десятой сессии провели две мощные медитации, которые помогли Анне отпустить тотальную обиду на маму
                h4 Кейс № 6. Анна, 27 лет
            .response
                p 
                    strong «Не могу простить бывшего. Боль, страх отношений, предательства».
                p Нара – красивая, эффектная девушка. Боль и обида на мужа, который ее предал, были столь велики, что у нее не было желания жить.
                p После десяти сессий прошло шесть месяцев, и Нара позвонила мне. Они с бывшим мужем теперь друзья. У нее прошла аллергия. Она встретила мужчину своей мечты, обвенчалась и поняла, как важен был тот этап ее жизни для ее же исцеления. Она теперь благодарна бывшему мужу за всё, что было. У нее в сердце нет теперь места для боли, страха и печали. Нара порхает от радости и носит ребенка в животе, зачатого в любви. А я думаю: когда успела?..
                h4 Кейс № 7. Нара, 36 лет. Ответ на возражение «большие проблемы нуждаются в долгом лечении»
            .response
                p 
                    strong «Сливаю деньги. От зарплаты до зарплаты. Три кредита. Хочу изобилия, стать богатой».
                p Диана была по уши в долгах и имела маленький заработок. Сумма для сессий ей казалась очень дорогой – неделю звонила и торговалась. Прошло шесть месяцев, у Дианы нет не одного кредита. Открыла свой бизнес, нашла спонсора и теперь ездит на новом Audi. У нее не только окупились тренинг и сессии, но она еще и приумножила изобилие в своей жизни. Открыла поток. Поняла, что не хочет нести травмы предков дальше по роду, детям своим. Положила нищете конец.
                h4 Кейс № 8. Диана, 40 лет
            .response
                p 
                    strong «Страх потерять работу. Боюсь, что уволят. Боюсь начальства».
                p У уверенной Инны был странный запрос. Не похоже на то, чтобы она боялась кого-то, а тем более работу потерять. У нее три языка, два высших образования, десять лет опыта в люксовой компании, муж с хорошим заработком, и у Инны своих две квартиры в Москве. Чего бояться?.. Но у Инны был панический страх перед увольнением.
                p В ходе сессий выяснилось: это не страх, это глубинное чувство вины у нее сидело внутри. Она всё время чувствовала себя виноватой, как только перешагивала двери своего офиса. Проработали мы с ней это. Нашли его в далеком предке, который, когда был маленьким, лет пяти, увидел, как его родители занимались сексом, и почувствовал вину за это, так как старшая сестра сказала, что он виноват в смерти мамы, потому что подсмотрел акт секса. И это запечатлелось в каждой его клетке. Вроде, на первый взгляд, какие-то детские случаи, слова сестры и т. д., но травма была сильная у малыша, и нес он это чувство вины через века вплоть до Инны. И проработав ее по РПТ, удалось освободить мощнейший ресурс уверенности в себе и собственной правоты. После этого прошел год. Сейчас Инна – крупный девелопер. Не боится она даже самого президента. Увольнение? Смешно! Она знает себе цену. Инна – эталон женского достоинства
                h4 Кейс № 9. Инна, 35 лет
            .response
                p «2017 год… Мне уже 53. Проблемы с детьми и внуками. Муж бросил. Растолстела. Денег нет, долги. Сахар поднялся. Жить уже не хочется. Почему там какие-то … отлично живут и выглядят, их все вокруг боготворят, а у меня всё так плохо? Всё! Не хочу так! Я еще молода! Нужен прорыв, срочно!..»
                p …И с такими намерениями попросила я вселенную, и вселенная меня услышала, и я нашла Шейлу. Потрясающий тренер, терапевт, расстановщик, коуч и психолог. Благодарна ей за всё-всё! Я заняла денег у двух подруг, рискнула. После одного месячного модуля из десяти сессий я неузнаваемая!!! Перерождение! Я теперь знаю, что вселенная всегда слышит просьбы!
                p И мне даже приснился сон, как весь мой род стоит рядом со мной и благодарит меня за проделанную работу. Видимо, что-то очень мощное прочистилось там, и теперь дальше мой род пойдет без того груза травм. С детьми наладились сказочно добрые отношения, внуки теперь со мной, муж вернулся! У меня не осталось ни одного долга – со всеми расплатилась, причем не я, а род мой. Скоро после сессии я узнала, что остался дом в Казани от брата, никого уже нет в живых там. Перешел дом мне, продала его сразу, закрыла все долги и еще в банк положила часть.
                p Как-то я спросила у Шейлы: «Почему я раньше не знала про всё это?» И на это Шейла ответила: «Всему свое время, София. Только тогда, когда созрела душа, происходят изменения, кардинальные. Так что радуйся, дорогая, что ты это смогла. Некоторые всю жизнь проживают и даже близко не подходят к этому – рано, значит, им. Вот пример – моя собственная мама. И не настаиваю я, это выбор ее души. А есть в 20 лет девочки уже круче нас с вами прорабатывают всё»
                h4 София Ревенко, 53 года, Санкт-Петербург
            .response
                p Тренинг вселенского масштаба. Я никогда не видела таких скорых результатов. Это какая-то новая техника, и я благодарна Шейле за этот опыт. Я стала после работы с Шейлой очень мощной, получила столько знаний. Открылся потенциал певицы. Я скрывала это много лет и даже забыла о нем. А еще у меня появились личные границы и чувство достоинства. Работа с предками – это очень мощная практика, там столько ресурсов, что представить не могла. А перерождение – это то, о чем я много слышала и рискнула сделать его себе у Шейлы. Не жалею. Вы представляете, какая я перерожденная? Другая! Абсолютно другая! Королева!
                h4 Анна Лебедева, 37 лет, Москва