#author
	padding-bottom: 60px
	h5
		font-size: 22px;
		font-family: "PlayfairDisplayBold", serif;
		color: rgb(11, 21, 78);
		font-weight: bold;
		line-height: 1.5;
		text-align: center;
		margin: 53px 0 40px
	.button
		width: 380px
.author_title
	background-color: #4a4a4a
	padding: 33px 0 
	position relative
	margin-bottom: 100px
	&:before
	&:after
		content: ''
		position: absolute
		background-color #fff
		width: 100%
		left 0
		right 0
		height 1px
	&:before
		top 5px
	&:after
		bottom: 5px
	h3
		color: #ffffff
		&:after
			margin-bottom: 0
			background-color #fff
.author_container
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	background-image url(../img/mandala_about.jpg)
	background-repeat no-repeat
	background-position: 763px -331px
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 504px;
	margin: 0 auto 30px
	overflow hidden
	img
		float left
		margin-right: 90px
.author_about
	padding: 57px 100px 0 0
	width: 591px
	float left
	h4
		font-size: 30px;
		font-family: "PlayfairDisplayBold", serif
		color: rgb(11, 21, 78);
		font-weight: bold;
		line-height: 1.1;
		margin: 0 0 14px
		letter-spacing: 1.1px;
	p
	.about_list li
		font-size: 18px;
		font-family: "OpenSansRegular", sans-serif;
		color: rgb(74, 74, 74);
		line-height: 1.45;
		margin-bottom: 10px
	.about_list
		list-style: none
		li
			padding-left: 32px
			background-image url(../img/pink_disc.jpg)
			background-position 3px 11px
			background-repeat no-repeat
.about_numbers
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 264px;
	margin:  0 auto
	display: table
	padding: 40px 0
	text-align: center
.about_number
	display: table-cell
	vertical-align: middle
	position relative
	width: 25%
	padding: 0 20px
	h6
		font-size: 18px;
		font-family: "OpenSansBold", sans-serif;
		color: rgb(74, 74, 74);
		font-weight: bold;
		line-height: 1.45
		margin: 0
		height: 78px
	&:after
		content: ''
		width: 1px
		height: 149px
		background-color: #626262
		opacity .2
		position: absolute
		top: 19px
		right 0
	&:last-of-type
		&:after
			display: none
.num
	font-size: 50px;
	font-family: "PlayfairDisplayBold", serif;
	color: rgb(212, 19, 146);
	font-weight: bold;
	line-height: 0.52;
	margin: 20px 0 23px
.last
	font-size: 18px;
	font-family: "OpenSansRegular";
	color: rgb(74, 74, 74);
	line-height: 1.45;
.serts_container
	display: table
	width: 100%
	height: 179px
	.sert_single
		display: table-cell
		vertical-align: middle
		text-align: center