#header
	padding: 27px 20px
	overflow hidden
	position relative
	z-index 150
#logo
	float: left
.contacts
	float: right
	text-align: right
	padding-right: 15px;
	.fa
		color: pr_pink
		font-size: 20px
		margin: 0 15px 0  40px
		&.fa-phone
			margin-left: 0
	.fa+span
		font-size: 18px;
		font-family: "OpenSansBold", arial;
		color: #3d3a3a
		line-height: 26px
		text-align: right;
		&:hover
			text-decoration underline
#main_screen
	width: 100%
	overflow hidden
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	padding-bottom: 34px
#main
		position relative
		z-index: 9
	.container
		position relative
#sheila_main
	position:  absolute
	bottom: -70px;
	right: -62px;
	z-index: -1

#sheila_before
	position: absolute
	width: 100%
	left: 0
	right 0
	bottom: -60px
	z-index: 10

#pre
	font-size: 27px;
	font-family: "OpenSansBold", sans-serif;
	color: rgb(212, 19, 146);
	line-height: 1
	margin: 0px 0 17px
h1
	font-size: 38px;
	font-family: "PlayfairDisplayBold", serif;
	color: rgb(29, 43, 89);
	line-height: 1.26;
	width: 670px;
	margin 0
	letter-spacing: 1.9px;
	span
		color: pr_pink
.aut_n_date
	overflow hidden
	margin-top 20px
	p
		font-size: 24px;
		font-family: "OpenSansBoldItalic", sans-serif;
		color: #1d2b59
		line-height: 1
		float left
		margin-bottom: 0
		&:first-child
			margin-right: 19px
		span
			color: pr_pink
	& + .video_wrapper
		margin: 30px 0 0
		width: 463px
		z-index 15