#reasons_and_plan
    width: 100%
    padding: 100px 0 90px
    background-image url(../img/reasons_nad_plan_bg.png)
    background-size: cover
    background-repeat no-repeat
    background-position: bottom center
#reasons
    margin-bottom: 90px
.reasons_container
    margin-bottom: 60px
.one_reason
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
    width: 360px;
    margin: 0 auto 30px
.reason_head
    border-radius: 5px;
    opacity: 0.5
    width: 100%
    height: 90px;
    background-image url(../img/mandala.png)
    background-position: center top
    background-repeat no-repeat
.reason_container:nth-child(1)
.reason_container:nth-child(4)
.reason_container:nth-child(7)
    .one_reason .reason_head
        background-color: #c7bdca
.reason_container:nth-child(2)
.reason_container:nth-child(5)
.reason_container:nth-child(8)
    .one_reason .reason_head
        background-color: #fddcc3
.reason_container:nth-child(3)
.reason_container:nth-child(6)
.reason_container:nth-child(9)
    .one_reason .reason_head
        background-color: #d3b6c5

.reason_container:nth-child(1)
.reason_container:nth-child(2)
.reason_container:nth-child(3)
    .one_reason
        height 463px

.reason_container:nth-child(4)
.reason_container:nth-child(5)
.reason_container:nth-child(6)
    .one_reason
        height 620px

.reason_container:nth-child(7)
.reason_container:nth-child(8)
.reason_container:nth-child(9)
    .one_reason
        height 400px


.reason_body
    position relative
    padding: 70px 25px 35px
    text-align: center
    p
        font-size: 18px
        margin 0
        line-height: 1.278;
        &:first-of-type
            font-family: "OpenSansRegular", sans-serif;
            color: rgb(39, 12, 48);
        &:last-of-type
            font-family: "OpenSansSemibold", sans-serif;
            color: #0b154e
            font-weight: bold;
.reason_number
    position: absolute
    margin: 0 auto
    left 0
    right 0
    top -49px
    border: 1px solid rgb(232, 232, 232);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 98px;
    height: 98px;
    line-height: 98px
    font-size: 40px;
    font-family: "PlayfairDisplayBold";
    color: pr_pink
    font-weight: bold;
    text-align: center;

.reasons_divider
    display block
    margin: 12px auto 10px

.bq
    font-size: 20px;
    font-family: "OpenSansItalic";
    color: rgb(74, 74, 74)sans-serif;
    line-height: 1.65;
    text-align: center;
    margin: 0 auto 14px
    width: 853px
    font-style: italic

.cite
    display block
    font-size: 20px;
    font-family: "OpenSansBoldItalic", sans-serif;
    color: rgb(11, 21, 78);
    font-style: italic;
    line-height: 1.65;
    text-align: center;
    font-weight: bold;