#text_responses
    width: 940px
    margin: 0 auto
    text-align: center
    p
        font-size: 18px;
        font-family: "OpenSansItalic", sans-serif;
        color: rgb(44, 44, 45);
        // font-style: italic;
        line-height: 1.67;
        margin-bottom: 20px
    h4
        font-size: 18px;
        font-family: "OpenSansBoldItalic", sans-serif;
        color: rgb(44, 44, 45);
        font-weight: bold;
        // font-style: italic;
        line-height: 1.67;