pr_pink = #d41392

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
		url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff'),
		url('../fonts/OpenSansBold.ttf') format('truetype'),
		url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('../fonts/OpenSansBoldItalic.eot');
	src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
		url('../fonts/OpenSansBoldItalic.woff2') format('woff2'),
		url('../fonts/OpenSansBoldItalic.woff') format('woff'),
		url('../fonts/OpenSansBoldItalic.ttf') format('truetype'),
		url('../fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSansItalic.eot');
	src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
		url('../fonts/OpenSansItalic.woff2') format('woff2'),
		url('../fonts/OpenSansItalic.woff') format('woff'),
		url('../fonts/OpenSansItalic.ttf') format('truetype'),
		url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSansLight.eot');
	src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
		url('../fonts/OpenSansLight.woff2') format('woff2'),
		url('../fonts/OpenSansLight.woff') format('woff'),
		url('../fonts/OpenSansLight.ttf') format('truetype'),
		url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSansRegular.eot');
	src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
		url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSansRegular.woff') format('woff'),
		url('../fonts/OpenSansRegular.ttf') format('truetype'),
		url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSansSemibold.eot');
	src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
		url('../fonts/OpenSansSemibold.woff2') format('woff2'),
		url('../fonts/OpenSansSemibold.woff') format('woff'),
		url('../fonts/OpenSansSemibold.ttf') format('truetype'),
		url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url('../fonts/OpenSansSemiboldItalic.eot');
	src: url('../fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
		url('../fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
		url('../fonts/OpenSansSemiboldItalic.woff') format('woff'),
		url('../fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
		url('../fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}
@font-face {
	font-family: 'PlayfairDisplayBlack';
	src: url('../fonts/PlayfairDisplayBlack.eot');
	src: url('../fonts/PlayfairDisplayBlack.eot') format('embedded-opentype'),url			('../fonts/PlayfairDisplayBlack.woff2') format('woff2'),url			('../fonts/PlayfairDisplayBlack.woff') format('woff'),url			('../fonts/PlayfairDisplayBlack.ttf') format('truetype'),url			('../fonts/PlayfairDisplayBlack.svg#PlayfairDisplayBlack') format('svg')
}
@font-face {
	font-family: 'PlayfairDisplayBold';
	src: url('../fonts/PlayfairDisplayBold.eot');
	src: url('../fonts/PlayfairDisplayBold.eot') format('embedded-opentype'),url			('../fonts/PlayfairDisplayBold.woff2') format('woff2'),url			('../fonts/PlayfairDisplayBold.woff') format('woff'),url			('../fonts/PlayfairDisplayBold.ttf') format('truetype'),url			('../fonts/PlayfairDisplayBold.svg#PlayfairDisplayBold') format('svg')
}
@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
			url('../fonts/RobotoRegular.woff2') format('woff2'),
			url('../fonts/RobotoRegular.woff') format('woff'),
			url('../fonts/RobotoRegular.ttf') format('truetype'),
			url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
			}

*
	margin: 0
	padding: 0
	outline: 0

body
	background-color: #f7f8fa

a
	&:hover
		text-decoration: none
	&:focus
		outline: 0
		text-decoration: none

h3
	font-size: 44px;
	font-family: "PlayfairDisplayBold", serif;
	color: rgb(11, 21, 78);
	line-height: 1
	text-align: center
	position: relative
	margin: 0
	&:after
		content: ''
		width 161px
		height: 4px
		display block
		margin: 15px auto 75px
		background-color: rgb(11, 21, 78);
.button
	display block
	background-color: pr_pink
	width: 261px;
	height: 58px;
	border-radius: 29px
	line-height: 58px
	text-align: center
	font-size: 26px;
	font-family: "PlayfairDisplayBlack", serif;
	font-weight: bold
	color: rgb(255, 255, 255);
	margin:  70px auto 0
	border: 0
	transition: all .5s ease-out
	&:focus
		background-color: pr_pink
		color: #ffffff
	&:hover
		background-color: #b00575
		transition: all .3s ease-in
		color: #ffffff

.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #fff
		border-radius 5px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer

@import 'parts/main'
@import 'parts/mail_section'
@import 'parts/reasons'
@import 'parts/plan'
@import 'parts/footer'